{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    ["module-resolver", {
      "root": ["./"]
    }],
    ["inline-react-svg", { "svgo": false }]
  ]
}
